@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
}

.box-slider {
    background-image: url(../image/bg_1.png);
    height: 978px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    text-align: left;
}

.head {
    justify-content: space-between;
    display: flex;
    margin-left: 68px;
    margin-right: 68px;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;

    padding-top: 68px;
    width: 300px;
}

.brand-text {
    margin-left: 34px;
    font-size: 18pt;
}

.navbar-brand img {
    size: 130px, 130px;
}

.hamburger {
    float: right;
}

.slider-des {
    padding: 430px 68px 30px;
    width: 825px;
}

.slider-des h1 {
    font-size: 44px;
}

.slider-des p {
    font-size: 22px;
}

.sec1 {
    height: 1206px;
    background-color: #00a2e9;
}

.row1 {
    height: 867px;
    width: 1161px;
    margin-left: 174px;
    margin-top: 207px;
}

.text-sec1 {
    font-size: 17px;
}

.col1 {
    background-image: url(../image/sec1-bg2.png);
    background-color: black;
    height: 768px;
    width: 588px;
}

.col2 {
    background-color: #10172e;
    background-size: cover;
    height: 768px;

}



.sec1-white {
    background-image: url(../image/sec1-bg1.png);
    background-color: white;
    height: 788px;
    width: 1079px;
    margin-top: 120px;
    margin-left: 390px;

}

.sec1-white h5 {
    font-size: 18px;
    margin-top: 88px;
    margin-left: 186px;
}

.sec2 {
    height: 1019px;
    width: 100%;
    text-align: left;

}

.sec3 {
    background-color: #26272a;
    height: 902px;

}

.sec3-card {
    background-color: black;
    background-image: url(../image/sec3-bg.png);
    height: 633px;
    width: 1081px;
}

.sec3-subtitle {
    margin-top: 98px;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.main-footer {
    height: 893px;
    background-image: url(../image/bg-footer.png);

}

.row-ft {
    height: 465px;
}

.sub-footer {
    background-color: #003571;
    height: 427px;
    width: 1738px;


}

.sec4 {
    height: 934px;
}

.sec4-img {
    width: 375px;
    height: 375px;
}

.nh {
    font-size: 18px;
}

.sec4-content {
    height: 934px;
    margin-right: 150px;
}

.ver-line {
    height: 565px;
    width: 1px;
    border-left: grey solid;
}

.footer-logo {
    margin-left: 10px;
}